 #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
 button {
  border-radius: 5px;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 16px;
 }
 button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
 }
 button:active {
  
  outline: 1px solid white;
 }
 select {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
 }
 .weather-items-container{
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 1rem 5rem;
  
}
.weather-items{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: 2rem;
}

.weather-item{
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: small;
  padding: 1rem;
  width: 150px;
  height: 100px;
  margin: 1rem;
  direction: rtl;
  text-align: right;
  transition:0.5s;
  
  
}
.weather-item * {
  pointer-events: none;
}

.weather-items :hover{
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
 }

 .weather-buttons{
  display: flex;
  justify-content: center;
  gap: 1rem;
 }


 @media (max-width: 500px) {
  .weather-items {
    grid-template-columns: 1fr;
  }
}
